{% extends "layout.html.twig" %}

{% block styles %}
	{{ parent() }}
	<link href="/app/dist/bundle.css" rel="stylesheet"/>
{% endblock %}

{% block contenu %}
	<div id="app"></div>
{% endblock %}

{% block scripts %}
	<script src="/app/dist/bundle.js"></script>
{% endblock %}
