{% extends "layout.html.twig" %}

{% block contenu %}
	<section class="d-flex min-vh-100 justify-content-center align-items-center">
		<div class="alert alert-danger">
			<h1>{{ title }}</h1>
			{{ message_erreur }}>
		</div>
	</section>
{% endblock %}
